USE [master]
GO
/****** Object:  Database [CurriculumMapperv5]    Script Date: 10/21/2018 7:30:25 PM ******/
CREATE DATABASE [CurriculumMapperv6]
GO
USE [CurriculumMapperv6]
GO
/****** Object:  Table [dbo].[AddedUnits]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddedUnits](
	[UnitID] [int] NOT NULL,
 CONSTRAINT [PK_AddedUnits] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Course]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Job]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [nvarchar](100) NOT NULL,
	[JobDesc] [nvarchar](500) NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JobSKA_Backup]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSKA_Backup](
	[SKAID] [int] NOT NULL,
	[JobID] [int] NOT NULL,
	[SKAImportance] [decimal](18, 2) NULL,
	[SKALevel] [decimal](18, 2) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JobSKAs]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSKAs](
	[SKAID] [int] NOT NULL,
	[JobID] [int] NOT NULL,
	[SKAImportance] [decimal](18, 2) NULL,
	[SKALevel] [decimal](18, 2) NULL,
 CONSTRAINT [PK_JobSKAs] PRIMARY KEY CLUSTERED 
(
	[SKAID] ASC,
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LearningOutcome]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningOutcome](
	[LOID] [int] IDENTITY(1,1) NOT NULL,
	[UnitID] [int] NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[FullDescription] [nvarchar](1000) NULL,
 CONSTRAINT [PK_LearningOutcome] PRIMARY KEY CLUSTERED 
(
	[LOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ListofUnits]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListofUnits](
	[UnitID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
 CONSTRAINT [PK_ListofUnits] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC,
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OutcomeSKAs]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutcomeSKAs](
	[LOID] [int] NOT NULL,
	[SKAID] [int] NOT NULL,
 CONSTRAINT [PK_OutcomeSkills] PRIMARY KEY CLUSTERED 
(
	[LOID] ASC,
	[SKAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RemovedUnits]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RemovedUnits](
	[UnitID] [int] NOT NULL,
 CONSTRAINT [PK_RemovedUnits] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SKA]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKA](
	[SKAID] [int] IDENTITY(1,1) NOT NULL,
	[SKAName] [nvarchar](100) NOT NULL,
	[SKATypeID] [int] NOT NULL,
 CONSTRAINT [PK_SKA] PRIMARY KEY CLUSTERED 
(
	[SKAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SKAType]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKAType](
	[SKATypeID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SKAType] PRIMARY KEY CLUSTERED 
(
	[SKATypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Unit]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[UnitCode] [nvarchar](100) NOT NULL,
	[UnitName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[AddedUnitsSKAList]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create view [dbo].[AddedUnitsSKAList] as 
	select distinct SKAName,st.Description as SKAType 
	from 
		unit u inner join 
		AddedUnits a on u.UnitID = a.UnitID inner join 
		LearningOutcome l on a.UnitID = l.UnitID inner join 
		OutcomeSKAs o on l.LOID = o.LOID inner join 
		SKA s on o.SKAID = s.SKAID inner join 
		SKAType st on s.SKATypeID = st.SKATypeID

GO
/****** Object:  View [dbo].[CourseSKAList]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[CourseSKAList] as 
select	distinct 
	c.CourseName,
	s.SKAName,
	st.Description as SKAType 
from 
	Course c inner join 
	ListofUnits l on c.CourseID = l.CourseID inner join 
	LearningOutcome lo on lo.UnitID = l.UnitID inner join 
	OutcomeSKAs os on os.LOID = lo.LOID inner join 
	SKA s on os.SKAID = s.SKAID inner join 
	SKAType st on st.SKATypeID = s.SKATypeID inner join
	(select u.UnitID
from 
	unit u left outer join 
	RemovedUnits r on u.UnitID = r.UnitID
where 
	r.UnitID is null)u on l.UnitID = u.UnitID 


GO
/****** Object:  View [dbo].[JobSKAList]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[JobSKAList] as 
select j.JobName, s.SKAName, st.Description as SKAType
from 
	Job j inner join 
	JobSKAs js on j.JobID = js.JobID inner join 
	SKA s on js.SKAID = s.SKAID inner join 
	SKAType st on s.SKATypeID = st.SKATypeID

GO
SET IDENTITY_INSERT [dbo].[Course] ON 

GO
INSERT [dbo].[Course] ([CourseID], [CourseName]) VALUES (1, N'Computer Science')
GO
INSERT [dbo].[Course] ([CourseID], [CourseName]) VALUES (2, N'Cyber Security and forensics')
GO
INSERT [dbo].[Course] ([CourseID], [CourseName]) VALUES (3, N'Internetworking and network security')
GO
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Job] ON 

GO
INSERT [dbo].[Job] ([JobID], [JobName], [JobDesc]) VALUES (1, N'Application Software Developer', NULL)
GO
INSERT [dbo].[Job] ([JobID], [JobName], [JobDesc]) VALUES (2, N'Database Administrator', NULL)
GO
INSERT [dbo].[Job] ([JobID], [JobName], [JobDesc]) VALUES (3, N'Information Security Analyst', NULL)
GO
SET IDENTITY_INSERT [dbo].[Job] OFF
GO
INSERT [dbo].[JobSKA_Backup] ([SKAID], [JobID], [SKAImportance], [SKALevel]) VALUES (1, 1, CAST(2.00 AS Decimal(18, 2)), CAST(1.75 AS Decimal(18, 2)))
GO
INSERT [dbo].[JobSKA_Backup] ([SKAID], [JobID], [SKAImportance], [SKALevel]) VALUES (1, 2, CAST(2.00 AS Decimal(18, 2)), CAST(1.88 AS Decimal(18, 2)))
GO
INSERT [dbo].[JobSKA_Backup] ([SKAID], [JobID], [SKAImportance], [SKALevel]) VALUES (1, 3, CAST(2.00 AS Decimal(18, 2)), CAST(1.75 AS Decimal(18, 2)))
GO
INSERT [dbo].[JobSKAs] ([SKAID], [JobID], [SKAImportance], [SKALevel]) VALUES (1, 4, CAST(2.62 AS Decimal(18, 2)), CAST(2.50 AS Decimal(18, 2)))
GO
INSERT [dbo].[JobSKAs] ([SKAID], [JobID], [SKAImportance], [SKALevel]) VALUES (3, 3, CAST(3.50 AS Decimal(18, 2)), CAST(3.62 AS Decimal(18, 2)))
GO
INSERT [dbo].[JobSKAs] ([SKAID], [JobID], [SKAImportance], [SKALevel]) VALUES (3, 4, CAST(3.25 AS Decimal(18, 2)), CAST(3.62 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[LearningOutcome] ON 

GO
INSERT [dbo].[LearningOutcome] ([LOID], [UnitID], [Description], [FullDescription]) VALUES (43, 3, N'UNLO1', N'Design, implement, test and document solutions to problems using the sequence, selection and iteration constructs of structured programming.')
GO
INSERT [dbo].[LearningOutcome] ([LOID], [UnitID], [Description], [FullDescription]) VALUES (44, 4, N'UNLO1', N'Construct algorithms to solve basic to intermediate problems using a combination of sequence, selection and iteration.')
GO
INSERT [dbo].[LearningOutcome] ([LOID], [UnitID], [Description], [FullDescription]) VALUES (45, 4, N'UNLO3', N'Apply the methodology of top-down design to the construction of solutions and implement these solutions in a modular way.')
GO
SET IDENTITY_INSERT [dbo].[LearningOutcome] OFF
GO
INSERT [dbo].[ListofUnits] ([UnitID], [CourseID]) VALUES (1, 1)
GO
INSERT [dbo].[ListofUnits] ([UnitID], [CourseID]) VALUES (1, 2)
GO
INSERT [dbo].[ListofUnits] ([UnitID], [CourseID]) VALUES (1, 3)
GO
INSERT [dbo].[OutcomeSKAs] ([LOID], [SKAID]) VALUES (43, 4)
GO
INSERT [dbo].[OutcomeSKAs] ([LOID], [SKAID]) VALUES (43, 61)
GO
INSERT [dbo].[OutcomeSKAs] ([LOID], [SKAID]) VALUES (43, 107)
GO
SET IDENTITY_INSERT [dbo].[SKA] ON 

GO
INSERT [dbo].[SKA] ([SKAID], [SKAName], [SKATypeID]) VALUES (86, N'Active Learning', 3)
GO
INSERT [dbo].[SKA] ([SKAID], [SKAName], [SKATypeID]) VALUES (87, N'Active Listening', 3)
GO
INSERT [dbo].[SKA] ([SKAID], [SKAName], [SKATypeID]) VALUES (53, N'Administration and Management', 2)
GO
SET IDENTITY_INSERT [dbo].[SKA] OFF
GO
SET IDENTITY_INSERT [dbo].[SKAType] ON 

GO
INSERT [dbo].[SKAType] ([SKATypeID], [Description]) VALUES (1, N'Ability')
GO
INSERT [dbo].[SKAType] ([SKATypeID], [Description]) VALUES (2, N'Knowledge')
GO
INSERT [dbo].[SKAType] ([SKATypeID], [Description]) VALUES (3, N'Skill')
GO
SET IDENTITY_INSERT [dbo].[SKAType] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

GO
INSERT [dbo].[Unit] ([UnitID], [UnitCode], [UnitName]) VALUES (1, N'BSC100', N'Building blocks for science students')
GO
INSERT [dbo].[Unit] ([UnitID], [UnitCode], [UnitName]) VALUES (2, N'BSC150', N'What is Science')
GO
INSERT [dbo].[Unit] ([UnitID], [UnitCode], [UnitName]) VALUES (3, N'ICT167', N'Principles of computer science')
GO
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UN_UnitDesc]    Script Date: 10/21/2018 7:30:25 PM ******/
ALTER TABLE [dbo].[LearningOutcome] ADD  CONSTRAINT [UN_UnitDesc] UNIQUE NONCLUSTERED 
(
	[UnitID] ASC,
	[Description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UN_NameType]    Script Date: 10/21/2018 7:30:25 PM ******/
ALTER TABLE [dbo].[SKA] ADD  CONSTRAINT [UN_NameType] UNIQUE NONCLUSTERED 
(
	[SKAName] ASC,
	[SKATypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JobSKAs]  WITH CHECK ADD  CONSTRAINT [FK_JobSKAs_JobID] FOREIGN KEY([JobID])
REFERENCES [dbo].[Job] ([JobID])
GO
ALTER TABLE [dbo].[JobSKAs] CHECK CONSTRAINT [FK_JobSKAs_JobID]
GO
ALTER TABLE [dbo].[JobSKAs]  WITH CHECK ADD  CONSTRAINT [FK_JobSKAs_SKAID] FOREIGN KEY([SKAID])
REFERENCES [dbo].[SKA] ([SKAID])
GO
ALTER TABLE [dbo].[JobSKAs] CHECK CONSTRAINT [FK_JobSKAs_SKAID]
GO
ALTER TABLE [dbo].[LearningOutcome]  WITH CHECK ADD  CONSTRAINT [FK_LearningOutcome_Unit] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([UnitID])
GO
ALTER TABLE [dbo].[LearningOutcome] CHECK CONSTRAINT [FK_LearningOutcome_Unit]
GO
ALTER TABLE [dbo].[ListofUnits]  WITH CHECK ADD  CONSTRAINT [FK_ListofUnits_Course] FOREIGN KEY([CourseID])
REFERENCES [dbo].[Course] ([CourseID])
GO
ALTER TABLE [dbo].[ListofUnits] CHECK CONSTRAINT [FK_ListofUnits_Course]
GO
ALTER TABLE [dbo].[ListofUnits]  WITH CHECK ADD  CONSTRAINT [FK_ListofUnits_UnitID] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([UnitID])
GO
ALTER TABLE [dbo].[ListofUnits] CHECK CONSTRAINT [FK_ListofUnits_UnitID]
GO
ALTER TABLE [dbo].[OutcomeSKAs]  WITH CHECK ADD  CONSTRAINT [FK_OutcomeSKAs_LOID] FOREIGN KEY([LOID])
REFERENCES [dbo].[LearningOutcome] ([LOID])
GO
ALTER TABLE [dbo].[OutcomeSKAs] CHECK CONSTRAINT [FK_OutcomeSKAs_LOID]
GO
ALTER TABLE [dbo].[OutcomeSKAs]  WITH CHECK ADD  CONSTRAINT [FK_OutcomeSKAs_SkAID] FOREIGN KEY([SKAID])
REFERENCES [dbo].[SKA] ([SKAID])
GO
ALTER TABLE [dbo].[OutcomeSKAs] CHECK CONSTRAINT [FK_OutcomeSKAs_SkAID]
GO
ALTER TABLE [dbo].[SKA]  WITH CHECK ADD  CONSTRAINT [FK_SKA_SKAType] FOREIGN KEY([SKATypeID])
REFERENCES [dbo].[SKAType] ([SKATypeID])
GO
ALTER TABLE [dbo].[SKA] CHECK CONSTRAINT [FK_SKA_SKAType]
GO
/****** Object:  StoredProcedure [dbo].[AddSelectedUnits_SP]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AddSelectedUnits_SP]
	@param1 as nvarchar(1000),
	@param2 as nvarchar(1) -- 0 add units 1 remove units
as
begin
	declare @comma as int
	declare @unit as varchar(100)
	set @comma = 1
	
	while @comma <> 0 begin 
		set @comma = CHARINDEX(';',@param1)
		if @comma = 0 
			set @unit = @param1
		else begin
			set @unit = SUBSTRING(@param1,0,@comma)
			set @param1 = SUBSTRING(@param1,@comma + 1, len(@param1) -@comma)
		end 

		if @param2 = '1' begin 
			delete r 
			from 
				RemovedUnits r inner join 
				unit u on r.UnitID = u.UnitID
			where u.UnitCode = @unit
		
			insert into AddedUnits
			select u.UnitID 
			from 
				unit u left outer join AddedUnits a on u.UnitID = a.UnitID 
			where u.UnitCode = @unit and a.UnitID is null 
		end else begin
			delete a  
			from 
				AddedUnits a inner join 
				Unit u on a.UnitID = u.UnitID
			where u.UnitCode = @unit

			insert into RemovedUnits
			select u.UnitID
			from Unit u 
			where u.UnitCode = @unit
		end 

	end 

end 

GO
/****** Object:  StoredProcedure [dbo].[CourseList_SP]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CourseList_SP] as 
select CourseID,CourseName from Course
GO
/****** Object:  StoredProcedure [dbo].[DeleteAddedUnits_SP]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[DeleteAddedUnits_SP]
as 
delete from AddedUnits
delete from RemovedUnits

GO
/****** Object:  StoredProcedure [dbo].[JobAndSKACount_SP]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[JobAndSKACount_SP]
	@param1 as nvarchar(100), -- job
	@param2 as nvarchar(100) -- course
as

select 
	j.SKAType, count(j.SKAName) as JobSKACount, count(a.skaName) as CourseSKACount
from 
	(select * from JobSKAList where JobName = @param1 ) j left outer join 
		(select distinct SKAName,SKAType from 
		(select SKAName,SKAType
	from 
		CourseSKAList c 
	where CourseName = @param2 or CourseName is null 
	union all 
	select * from AddedUnitsSKAList)c)a on j.SKAName = a.SKAName and j.SKAType = a.SKAType
group by j.SKAType
GO
/****** Object:  StoredProcedure [dbo].[JobList_SP]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[JobList_SP] as 
select JobID,JobName from Job
GO
/****** Object:  StoredProcedure [dbo].[NonCourseContributors]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[NonCourseContributors]
	@param1 as nvarchar(100), -- Strength
	@param2 as nvarchar(100) -- Chosen course
as

select 
	 u.UnitCode, u.UnitName
from 
	 SKA  s INNER JOIN
	 OutcomeSKAs o on o.SKAID = s.SKAID INNER JOIN
	 LearningOutcome l on l.LOID = o.LOID INNER JOIN
	(		select u.UnitID 
		from 
			unit u left outer join 
			(select l.UnitID 
			from 
				ListofUnits l inner join 
				Course c on l.CourseID = c.CourseID
			where 
				c.CourseName = @param2
			union
				select unitID from AddedUnits 
				)a  on u.UnitID = a.UnitID
		where a.UnitID is null  
		union 
			select UnitID from RemovedUnits)a  on l.UnitID = a.UnitID inner join 
	Unit u on a.UnitID = u.UnitID
	 where s.SKAName =@param1
GO
/****** Object:  StoredProcedure [dbo].[Strengths]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Strengths]
	@param1 as nvarchar(100), -- job
	@param2 as nvarchar(100) -- course
as

select distinct
	j.SKAName as Strengths, j.SKAType as Type
from 
	(select SKAName, SKAType from JobSKAList where JobName =@param1) j 
	INNER JOIN 
	(select SKAName, SKAType from CourseSKAList where CourseName = @param2
		union
	select SKAName, SKAType from AddedUnitsSKAList
	) c on j.SKAName = c.SKAName
GO
/****** Object:  StoredProcedure [dbo].[UnitContributors]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UnitContributors]
	@param1 as nvarchar(100), -- Strength
	@param2 as nvarchar(100) -- Chosen course
as

select 
	 u.UnitCode, u.UnitName
from 
	 SKA  s INNER JOIN
	 OutcomeSKAs o on o.SKAID = s.SKAID INNER JOIN
	 LearningOutcome l on l.LOID = o.LOID INNER JOIN
	 Unit u on u.UnitID = l.UnitID INNER JOIN
	 (select l.UnitID 
	 from 
		ListofUnits l left outer join 
		RemovedUnits r on l.UnitID = r.UnitID inner join 
		course c on l.CourseID = c.CourseID
	where c.CourseName = @param2  and r.UnitID is null 
		union
	select unitID from AddedUnits)a  on u.UnitID = a.UnitID
	where s.SKAName =@param1
GO
/****** Object:  StoredProcedure [dbo].[UnitRecommendations]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UnitRecommendations]
	@param1 as nvarchar(100) -- Weakness
as

select distinct 
	u.UnitCode as Unit
from 
	 SKA  s INNER JOIN
	 OutcomeSKAs o on o.SKAID = s.SKAID INNER JOIN
	 LearningOutcome l on l.LOID = o.LOID INNER JOIN
	 Unit u on u.UnitID = l.UnitID
	 where s.SKAName =@param1



GO
/****** Object:  StoredProcedure [dbo].[UnitsInDegree_SP]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[UnitsInDegree_SP]
@param1 as varchar(50)
as
select distinct UnitCode,'Units' as UnitName 
from( 
	select UnitID 
	from 
		Course c inner join 
		ListofUnits l on c.CourseID = l.CourseID 
	where 
		CourseName = @param1
	union 
	select UnitID from AddedUnits
	)a left outer join 
	RemovedUnits r on a.UnitID = r.UnitID 	inner join 
	Unit u on a.UnitID = u.UnitID
where r.UnitID is null 
order by UnitCode
	
	

GO
/****** Object:  StoredProcedure [dbo].[UnitsNotInDegree_SP]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UnitsNotInDegree_SP]
	@param1 as varchar(100) -- course name
as
select u.UnitCode, 'Units' as UnitName, u.UnitCode + ' - ' + u.UnitName as UnitDesc 
from 
	Unit u left outer join  
	(select distinct UnitID 
	from (
		select l.UnitID 
		from 
			Course c inner join 
			ListofUnits l on l.CourseID = c.CourseID left outer join
			RemovedUnits r on l.UnitID = r.UnitID
		where CourseName = @param1 and r.UnitID is null 
		union 
		select UnitID from AddedUnits)z
	)a  on u.UnitID = a.UnitID
where a.UnitID is null 
order by u.UnitCode




GO
/****** Object:  StoredProcedure [dbo].[Weakness]    Script Date: 10/21/2018 7:30:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Weakness]
	@param1 as nvarchar(100), -- job
	@param2 as nvarchar(100) -- course
as

select distinct
	j.SKAName as Weaknesses, j.SKAType as Type
from 
	(select SKAName, SKAType from JobSKAList where JobName =@param1
	 ) j left outer join 
	(select SKAName,SKAType from CourseSKAList where CourseName = @param2
			union all 
	 select SKAName, SKAType from AddedUnitsSKAList
	) c on j.SKAName = c.SKAName and j.SKAType = c.SKAType
	WHERE c.SKAName is NULL
GO
USE [master]
GO
